include LICENSE
include README.md
include pyproject.toml
include setup.py
recursive-include src *.c *.h
recursive-include src/third_party *
recursive-include fastconstmap *.py *.pyi py.typed
recursive-include tests *.py
recursive-include examples *.py
recursive-include benchmarks *.py
